.create-post-section{
    border: 3px solid #5C95E3;
    border-radius: 30px;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
}
.file-input-container {
    position: relative;
    display: grid;
}
.head-post{
    display: flex;
}
.head-post > *:not(.head-post){
    margin-left: 10px;
}

.insertion-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.file-input {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.options{
    margin-top: 15px;
    display: flex;
    justify-content: end;
}
.options > *:not(.options){
    margin-left: 10px;
}
.b-like, .b-comment, .b-send{
    cursor:pointer;
}
.post-content{
    margin-left: 50px;
    margin-right: 50px;
}
.post-img, .post-video{
    width: 100%;
    border-radius: 15px;
    justify-self: center;
}