/* Importando a fonte Kalam */
@font-face {
    font-family: "fontKalam";
    src: url("../assets/fonts/Kalam/Kalam-Bold.ttf") format("ttf"),
      url("../assets/fonts/Kalam/Kalam-Regular.ttf") format("tff");
    font-weight: bold;
    font-style: normal;
  }
  
  /* Estilo do container principal do formulário */
  .register {
    margin-top: 80px;
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 650px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 2px 4px 8px #a39797;
  }
  
  /* Estilo do título do formulário */
  .register h1 {
    font-family: "fontKalam", cursive;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    background-image: linear-gradient(to top, #9c1e96, #4a349a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
  
  /* Estilo do subtítulo do formulário */
  .register h2 {
    font-family: "fontKalam", cursive;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #666;
  }
  
  /* Estilo da imagem do formulário */
  .register .image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  .register .image img {
    width: 10rem;
  }
  
  /* Estilo do formulário */
  .register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  
  /* Estilo das labels do formulário */
  .register label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #666;
  }
  
  /* Estilo dos inputs do formulário */
  .register input[type="text"],
  .register input[type="password"] {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 500px;
  }
  
  /* Estilo do botão do formulário */
  .register button {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    background-color: #5c95e3;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 2rem;
  }
  
  .register button:hover {
    background-color: #224b85;
  }