.profile-section{
    border: 3px solid #5C95E3;
    border-radius: 50px;
    width: 350px;
    text-align: center;
}
.content-profile{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 220px;
}
.bg-profile{
    height: 190px;
    width: 100%;
    object-fit: cover;
    border-radius: 47px 47px 80px 80px;
    background-size: cover;
}
.img-profile{
    border-radius: 50%;
    position: absolute;
    justify-self: center;
    width: 90px;
    top: 130px;
    border: 4px solid #FFFFFF;
}
.personal-profile-info > h3, .personal-profile-info > p, .connections > h4, .connections > p{
    margin: 0;
}
.profile-buttons{
    margin: 10px;
}
.profile-buttons > *:not(.profile-buttons){
    margin: 5px;
}